.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.logoIcon:hover {
  transform: scale(1.1);
}

.logoText {
  font-weight: bold;
  color: #000;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.logoText:hover {
  color: #09222A;
}

.searchContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
}

.menuButton {
  font-size: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuButton:hover {
  transform: rotate(90deg);
}

.drawer {
  background-color: #09222A;
}

.drawerContent {
  background-color: #111;
  color: white;
  padding: 1rem;
  height: 100%;
}

.drawerListItem {
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease;
}

.drawerListItem:hover {
  transform: translateX(10px);
}

.drawerLink {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.drawerLink:hover {
  color: #00bcd4;
}

@media (max-width: 768px) {
  .logoText {
    font-size: 1rem !important;
  }

  .logoIcon {
    width: 30px !important;
    height: 30px !important;
  }

  .searchContainer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}