.footerTopContainer {
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
}

.footerLeft {
    flex: 1;
    background-color: #f4f4f4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerImage {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.footerRight {
    flex: 1;
    background-color: #09222A;
}

.footerTitle {
    font-size: 44px;
    margin-bottom: 20px;
    color: white;
    width: 80%;
    font-weight: 500;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.bookingButton {
    padding: 15px;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.bookingButton:hover {
    background-color: #333;
    color: #fff;
}
